<html>
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <h1>{{ cuisine.getName }}</h1>
            <hr>

            <p>Enter a restaurant:</p>

            <form action='/restaurants' method='post'>
                <input id='cuisine_id' class='form-control' name="cuisine_id" type="hidden" value="{{ cuisine.getId()}}">
                <div class ='form-group'>
                    <label for='place_name'></label>
                    <input id='place_name' class='form-control' placeholder='Restaurant Name' name='place_name' type='text'>
                    <br>
                    <label for='address'></label>
                    <input id='address' class='form-control' placeholder='Restaurant Address' name='address' type='text'>
                    <br>
                    <label for='phone'></label>
                    <input id='phone' class='form-control' placeholder='Restaurant Phone Number' name='phone' type='text'>
                    <br>
                    <button type='submit' class='btn btn-danger'>Add Restaurant</button>
                    <a class="btn btn-danger" href="/" role="button">Home</a>
                </div>
            </form>

            {% if restaurants is not empty %}
                <p>Here are the restaurants:</p>
                <ul>
                    {% for restaurant in restaurants %}
                    <form action='/restaurants/{{ restaurant.getId }}' method='post'>
                        <input name='_method' type='hidden' value='delete'>

                        <li>{{ restaurant.getPlaceName }}</li>
                        <a class="btn btn-success btn-xs" href="/restaurants/{{ restaurant.getId }}/edit" role= 'button'>Update</a>                        <ul>
                            <li>{{ restaurant.getAddress }}</li>
                            <li>{{ restaurant.getPhone }}</li>
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}




        </div>

    </body>
</html>
